* {
	outline: 1px red solid;
}

body {
	min-width: 60rem;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	padding: 1.5rem;
}

input {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 2rem;
}

h1 {
	font-size: 4rem;
}

.panel {
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	box-shadow: 10px 10px 5px lightgrey;
}

.top_div {
	background-color: slategrey;
}

header {
	width: 60rem;
	text-align: center;
}

#zz_logo {
	height: 100%;
}

#input_div {
	display: none;
	width: 60rem;
	text-align: center;
	padding-bottom: 2rem;
}

.input_instruction_text {
	margin: 1rem;
	font-size: 2rem;
	color: white;
}

#zip_input_text {
	width: 5.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8rem;
}

#zip_input_button {
	width: 10rem;
	height: 4rem;
	outline: none;
	background-color: DodgerBlue;
	background-image: url('../images/zap.png');
	background-repeat: no-repeat;
	background-size: contain;
	border: 0px;
	border-radius: 15px;
}

#zip_input_button:disabled {
	opacity: 0.4;
}

#zip_input_button:not(:disabled):hover {
	background-color: DeepSkyBlue;
}

#zip_input_button:not(:disabled):active {
	background-position: center center;
	background-size: 90%;
}

#loading {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	margin-top: 2rem;
}

#results {
	display: none;
	box-sizing: border-box;
	width: 60rem;
	padding: 1rem;
	margin-top: 2rem;
	border: 3px solid slategrey;
	text-align: center;
}

#results_templates {
	display: none;
}

#wunderground_results {
	margin-top: 1rem;
	font-size: 2.5rem;
	color: green;
}

.wunderground_result {
	margin-bottom: 1rem;
}

#google_map_canvas {
	height: 40rem;
	width: 50rem;
	margin-left: auto;
	margin-right: auto;
}