* {
	outline: 1px red solid;
}

body {
	min-width: 60rem;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	padding: 1.5rem;
}

input {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 2rem;
}

h1 {
	font-size: 5rem;
	font-weight: bold;
}

.panel {
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	box-shadow: 10px 10px 5px lightgrey;
}

.top_div {
	background-color: slategrey;
}

header {
	width: 60rem;
	text-align: center;
}

#zz_logo {
	height: 100%;
}

#input_div {
	display: none;
	width: 60rem;
	text-align: center;
	padding-bottom: 2rem;
}

.input_instruction_text {
	margin: 1rem;
	font-size: 2rem;
	color: white;
}

#zip_input_text {
	width: 5.8rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8rem;
	padding-left: 0.2rem;
}

#zip_input_button {
	width: 10rem;
	height: 4rem;
	background-image: url('../images/zap.png');
}

input[type="submit"] {
	outline: none;
	color: white;
	background-color: DodgerBlue;
	background-repeat: no-repeat;
	background-size: contain; 
	border: 0px;
	border-radius: 15px;
}

input[type="submit"]:disabled {
	opacity: 0.4;
}

input[type="submit"]:not(:disabled):hover {
	background-color: DeepSkyBlue;
}

input[type="submit"]:not(:disabled):active {
	background-position: center center;
	background-size: 90%;
}

#loading {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	margin-top: 2rem;
}

#results {
	display: none;
	box-sizing: border-box;
	width: 60rem;
	padding: 1rem;
	margin-top: 2rem;
	border: 3px solid slategrey;
	text-align: center;
}

.tab {
	height: 40rem;
	width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

#zipcode {
	margin-bottom: 2rem;
}

#wunderground_results {
	font-size: 2.5rem;
	color: black;
	
	/* vertically center the results within this panel */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wunderground_result {
	line-height: 6rem;
}

#weather_icon {
	width: 7rem;
}

#new_zap_button  {
	height: 3rem;
	width: 16rem;
	font-size: 2rem;
	margin-top: 2rem;
}

#new_zap_button:not(:disabled):active {
	font-size: 1.8rem;
}